a, a:link, a:visited {
    text-decoration: none;
}

.reasons {
    background-color: #f8f5f5;
}

.graybg {
    background-color: #f8f5f5;
}

.nav {
    /*background-color: #f1f1f1;*/
    text-align: center;
    word-spacing: 50px;
    padding: 8px;
    margin-bottom: 60px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
}

.row-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

span.avoidwrap { 
  display:inline-block;
}

.container {
    max-width: 860px;
}
