h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
}

a, a:link, a:visited {
    text-decoration: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

.reasons {
    background-color: #f8f5f5;
}

.graybg {
    background-color: #f8f5f5;
}

.nav {
    /*background-color: #f1f1f1;*/
    text-align: center;
    word-spacing: 50px;
    padding: 8px;
    margin-bottom: 60px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
}

.row-padding {
    padding-top: 40px;
    padding-bottom: 80px;
}

span.avoidwrap { 
  display:inline-block;
}

.container {
    max-width: 860px;
}

@media screen and (max-width:568px) {
  .hidden-on-phone {display:none} 
}  

