h1, h2, h3, h4, h5, h6 {
    padding-top: 20px;
}

a, a:link, a:visited {
    text-decoration: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

.navbar a {
    color: #888888;
} 

.nav a {
    color: #888888;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8em;
    line-height: 1.8;
    font-weight: 400;
    background-color: #f8f5f5;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

blockquote {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 4px solid #AA0000;
}

li {
    padding-left: 20px;
    text-indent: -20px;
}

.pricebox {
    text-align: center;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.deal {
    padding-top: 50px;
    padding-bottom: 50px;
}

.graybg {
    /*background-color: #f8f5f5;*/
    background-color: #ffffff;
}

.reasons {
    /*background-color: #f8f5f5;*/
    background-color: #ffffff;
}


.nav, .navbar {
    font-weight: bold;
    width: 100%;
    background-color: #ffffff;
    border-top: solid 4px #AA0000;
}

.nav {
    padding-top: 15px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #eee;*/
}

.navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 99;
}

.redline {
    border-top: solid 4px #AA0000;
}

.has-docked-nav .navbar {
    display: block;
    padding-top: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
}

.navlinks {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

.navlink {
   padding-right: 20px;
}

.navlogo {
    width: 280px;
    /*vertical-align: middle;*/
    padding-right: 0px;
    padding-left: 40px;
}

.herologo {
   width: 100%;
   max-width: 600px;
   min-width: 300px;
   padding-top: 40px;
   padding-bottom: 60px;
}

.row-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

span.avoidwrap { 
  display:inline-block;
}

.container {
    max-width: 860px;
}

/* mail chimp and red buttons */

#mc_embed_signup {
    clear:left; font:14px Helvetica,Arial,sans-serif;
}
#mc_embed_signup .button, .red {
    background-color: #AA0000;
    border-color: #AA0000;
    color: #FFFFFF !important;
}
#mc_embed_signup .button:hover, .red:hover {
    background-color: #D40000;
    border-color: #DA0000;
    color: #FFFFFF !important;
}

/* media viewports */

.shown-on-phone {
  display: none;
}

.shown-on-tablet {
  display: none;
}

@media screen and (max-width:568px) {
  .hidden-on-phone {display: none} 
  .shown-on-phone {display: block} 
}  

@media screen and (max-width:750px) {
  .navbar.hidden-on-tablet {display: none} 
  .hidden-on-tablet {display: none} 
  .shown-on-tablet  {display: block} 
}  
